body {
    padding: 40px;
    background: #eee;
    overflow: hidden;
}

.box {
    min-width: 100px;
    left: 100px;
    background: red;
    overflow: hidden;
    z-index: 2;
    min-height: 50px;
    padding: 5px;
}

.movable {
    position: absolute;
    transform: translate(-50%, -50%);
    max-height: 50px;
    cursor: pointer;
}

.thread {
    min-width: 100%;
    background: #fff;
    z-index: 1;
    top: 70%;
    left: 50%;
    min-height: 60px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    box-shadow: 2px 4px 1px -1px rgba(0,0,0,0.75);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
  left: 300px;
}

.arrow-text {
    position: relative;
    top: -40px;
    right: -50%;
    transform: rotate(-45deg);
}